<!-- <h1>Mohammad Belal</h1>
<app-login></app-login>
<app-signup></app-signup>

<h2>*ngIf in Angular</h2>

<p *ngIf="age>18; else elseBlock">Age is higher than 18</p>
<ng-template #elseBlock>
    <p>Age is lower than 18</p>
</ng-template>

<div *ngIf="age>16; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
    <p>Age is higher than 18</p>
</ng-template>

<ng-template #elseBlock>
    <p>Age is lower than 18</p>
</ng-template>

<h2>For Loop in Angular</h2> -->

<!-- <h4 *ngFor="let item of data">
    {{item}}
</h4> -->

<!-- <h4 *ngFor="let item of data">
    {{item.name}} {{item.age}}
</h4> -->

<!-- <table border="2">
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table>

<h2>*ngSwitch in Angular</h2>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchDefault>You picked again</div>

</div> -->

<h2>Fetch Data Http Module</h2>
<ul>
    <li><a routerLink="fetch-data-http/list">Employee List</a></li>
    <li><a routerLink="fetch-data-http/detail">Employee Detail</a></li>
    <li><a routerLink="fetch-data-http/time-picker">Time Picker</a></li>
</ul>

<h2>Customer Module</h2>
<ul>
    <li><a routerLink="customers/customer">Customer List</a></li>
</ul>

<h2>Excel Reader Module</h2>
<ul>
    <li><a routerLink="excel-reader/file-loader">Choose New File</a></li>
    <li><a routerLink="excel-reader/data-show">Show File Data</a></li>
</ul>

<h2>Routing and Navigation Module</h2>
<nav>
    <button routerLink="routing/departments" routerLinkActive="active" style="margin:5px;">Departments</button>
    <button routerLink="routing/employees" routerLinkActive="active" style="margin:5px;">Employees</button>
    <!-- <a routerLink = "/department" routerLinkActive = "active">Department </a>
    <a routerLink = "/employee" routerLinkActive = "active">Employee</a> -->
</nav>

<h2>Practices</h2>
<a routerLink="practice/angular10-anil">Angular10_Anil</a>

<router-outlet></router-outlet>