<h1>Mohammad Belal</h1>
<app-login></app-login>
<app-signup></app-signup>

<h2>*ngIf in Angular</h2>

<p *ngIf="age>18; else elseBlock">Age is higher than 18</p>
<ng-template #elseBlock>
    <p>Age is lower than 18</p>
</ng-template>

<div *ngIf="age>16; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
    <p>Age is higher than 18</p>
</ng-template>

<ng-template #elseBlock>
    <p>Age is lower than 18</p>
</ng-template>

<h2>For Loop in Angular</h2>

<!-- <h4 *ngFor="let item of data">
    {{item}}
</h4> -->

<!-- <h4 *ngFor="let item of data">
    {{item.name}} {{item.age}}
</h4> -->

<table border="2">
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table>