<div style="text-align: center;">
    <h1>
        Routing and Navigation
    </h1>
</div>
<nav>
    <button routerLink="/departments" routerLinkActive="active" style="margin:5px;">Departments</button>
    <button routerLink="/employees" routerLinkActive="active" style="margin:5px;">Employees</button>
    <!-- <a routerLink = "/department" routerLinkActive = "active">Department </a>
    <a routerLink = "/employee" routerLinkActive = "active">Employee</a> -->
</nav>
<router-outlet></router-outlet>