<div *ngIf="data && (!description.hideEmptyList || data.length)" class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card" *ngIf="!description.removeSurrounding; else list">
            <ng-container *ngTemplateOutlet="list"></ng-container>
        </div>
    </div>
</div>

<ng-template #list>
    <div *ngIf="name || description.topButton" class="card-header">
        <mat-label style="font-size: 16px;">{{name | translate}}</mat-label>
        <ng-content select="[button-extra]">
        </ng-content>
        <button (click)="description.topButton.listener()" *ngIf="description.topButton" [color]="description.topButton.color || 'primary'" [disabled]="description.topButton.disabled" [hidden]="description.topButton.isHidden" class="pull-right" mat-mini-fab matTooltip="{{ (description.topButton.text || '') | translate }}">
        <mat-icon>{{description.topButton.icon}}</mat-icon>
      </button>
    </div>
    <div class="card-body" style="overflow-y: scroll">
        <div class="row">
            <div class="col">
                <ng-content select="[body-extra]"></ng-content>
            </div>
            <div class="col">
                <div class="card-body font-lg">
                </div>
            </div>
            <div *ngIf="description.hasSearch" class="col">

                <mat-form-field class="input-field">
                    <mat-icon matPrefix>search</mat-icon>
                    <input (keyup)="populateSearchWord($event.target.value); $event.key === 'Enter' && loadSearchResult($event.target.value)" [formControl]="searchText" [matAutocomplete]="auto" autocomplete="off" matInput placeholder="{{'Search' | translate }}" type="search">
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="populateSearchWord($event.option.value);">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>

            </div>
            <div *ngIf="slideBar">
                <mat-slide-toggle [color]="slideBarColor" (change)="onSlideBarChange($event)" class="slide-toggle" [checked]=slideBarCurrentValue>
                    {{ 'Show previous list' | translate }}
                </mat-slide-toggle>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ejs-grid #grid [allowSorting]="true" [allowTextWrap]="true" [contextMenuItems]="contextMenuItems" [dataSource]='data' [enableColumnVirtualization]="scroll" [filterSettings]='filterSettings' [locale]='locale' [pageSettings]='pageSettings' allowExcelExport='true'
                        allowFiltering='true' allowPdfExport='true' showColumnMenu='true'>
                        <e-columns>
                            <e-column *ngIf="!description.hasSelection" [allowEditing]='false' field='sortOrder' headerText="{{ 'SerialNo' | translate }}" [width]="scroll ? 80 : 45">
                                <ng-template #template let-data>
                                    <span>{{ getSerialNo(+data.index) | localNumber }}</span>
                                </ng-template>
                            </e-column>
                            <e-column *ngIf="description.hasSelection" [allowEditing]='false' field='checked' headerText="{{ 'Select' | translate }}" [width]="scroll ? null : 80">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox (checkedChange)="onCheckedChange($event, this.getDataIndex(+data.index))" [checked]='data.checked' cssClass="e-info">
                                    </ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column *ngFor="let d of description.fields" [field]='d.field' [headerText]="d.name | translate" [textAlign]="d.textAlign ? d.textAlign : 'left'" [width]="scroll ? null : 90">
                            </e-column>
                            <ng-container *ngIf="description.actionableFields">
                                <e-column *ngFor="let d of description.actionableFields" [field]='d.field' [headerText]="(d.name | translate) + (d.required ? ' *' : '')" [width]="scroll ? null : 90">
                                    <ng-template #template let-data>
                                        <ejs-textbox (valueChange)="onValueChange($event, d.field, this.getDataIndex(+data.index), d.type)" *ngIf="!d.type || d.type === 'text'" [type]="d.type || 'text'" [value]='data[d.field]'>
                                        </ejs-textbox>
                                        <ejs-numerictextbox (valueChange)="onValueChange($event, d.field, this.getDataIndex(+data.index), d.type)" *ngIf="d.type === 'number'" [value]='data[d.field]' [showSpinButton]="false">
                                        </ejs-numerictextbox>
                                        <ejs-datepicker (valueChange)="onValueChange($event, d.field, this.getDataIndex(+data.index), d.type)" *ngIf="d.type === 'date'" [value]='data[d.field]'>
                                        </ejs-datepicker>
                                        <ejs-dropdownlist (valueChange)="onValueChange($event, d.field, this.getDataIndex(+data.index), d.type)" *ngIf="d.type === 'dropdownedit'" [dataSource]="dropDownList" [value]='data[d.field]'>
                                        </ejs-dropdownlist>
                                        <!-- TODO: use ejs-numerictextbox and ejs-datepicker -->
                                    </ng-template>
                                </e-column>
                            </ng-container>
                            <e-column *ngIf="description.buttons" field='' headerText="{{ 'Action' | translate }}" [width]="scroll ? null : 70">
                                <ng-template #template let-data>
                                    <ng-container *ngFor="let b of description.buttons">
                                        <button (click)="announceClick(b.listener, this.getDataIndex(+data.index))" *ngIf="!(b.isHidden && b.isHidden(data))" [disabled]="b.disabled" class="mat-cus-icon-button" mat-icon-button matTooltip="{{ (b.text || '') | translate }}">
                        <mat-icon *ngIf="b.type!='fa'" style="font-size: 16px">{{b.icon}}</mat-icon>
                        <i *ngIf="b.type=='fa'" class="{{b.icon}}" aria-hidden="true"></i>
                      </button>
                                    </ng-container>
                                </ng-template>
                            </e-column>
                        </e-columns>
                    </ejs-grid>
                    <ejs-pager #pager (click)="pageChange($event)" (dropDownChanged)="dropDownChanged($event)" [locale]='locale' [pageCount]='pageSettings.pageCount' [pageSize]='pageSettings.pageSize' [pageSizes]='pageSettings.pageSizes' [totalRecordsCount]='totalCount'
                        *ngIf="apiSupportsPagination"></ejs-pager>
                </div>
            </div>
        </div>

        <ng-content select="[body-extra-bottom]"></ng-content>

    </div>
    <div *ngIf="description.submitButton || description.backButton" class="card-footer">
        <div class="row">
            <button *ngIf="description.backButton" (click)="description.backButton.listener()" class="btn btn-pill btn-block btn-secondary col-3" type="button">
          <mat-icon
            matPrefix style="display: inline-flex; vertical-align: bottom;">{{description.backButton.icon}}</mat-icon>&nbsp;&nbsp;{{ description.backButton.text | translate }}
        </button>
            <div *ngIf="description.backButton" class="col-6"></div>
            <div *ngIf="!description.backButton" class="col-9"></div>
            <button *ngIf="description.submitButton" (click)="description.submitButton.listener()" [disabled]="description.submitButton.disabled" class="btn btn-pill btn-block btn-success col-3" type="button">
          <mat-icon
            matPrefix style="display: inline-flex; vertical-align: bottom;">{{description.submitButton.icon}}</mat-icon>&nbsp;&nbsp;{{ description.submitButton.text | translate }}
        </button>
        </div>
    </div>
</ng-template>